{% extends "base.html" %}

{% block title %}
Verify OTP Token
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/main.css')}}">
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(category_filter=['success']) %}
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {{ messages[0] }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=['error']) %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
{% endwith %}
<div class="login-form">
    <form action="" method="post">
        <h2 class="text-center">Verify OTP Token</h2>
        <div class="form-group">
            <p>Please use your Google Authenticator to obtain OTP Token 📱 </p>
            <p><bold>Verify OTP Token for: {{g.user['username']}}</bold></p>
        </div>
        <div class="form-group">
            <input type="text" name="OTP" class="form-control" placeholder="OTP Token" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Verify</button>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    <p class="text-center"><a href="/">Login</a></p>
</div>
{% endblock %}